<%- include('templates/header') %>

    <%- include('templates/navbar.ejs') %>


        <section id="main">
            <div class="container rip-stretch-heigth pt-3">

                <div class="h-100">
                    <div class="card rip-shadow mt-4 mx-auto w-100 py-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-3 rip-border-right pb-3 pb-md-0">
                                    <h5 class="font-weight-bold">Select the following:</h5>

                                    <form action="#" id="testForm">

                                        <div class="form-group my-2 ml-3">
                                            <label class="col-form-label-lg" for="testType">Test Type</label>
                                            <select name="testType" id="testType" class="form-control select2-base"
                                                required>
                                                <option value="" selected disabled> --- Select Test Type --- </option>
                                                <option value="hematology">Hematology Analytes</option>
                                                <option value="chemical">Chemical Analytes</option>
                                            </select>
                                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                        anyone else.</small> -->
                                        </div>


                                        <div class="form-group my-2 ml-3">
                                            <label class="col-form-label-lg" for="testName">Test Name</label>
                                            <select name="testName" id="testName" class="form-control select2-base"
                                                required disabled>
                                                <option value=""></option>
                                                <option value="hemoglobin">Hemoglobin</option>
                                                <option value="whiteBloodCells" disabled>White Blood Cells</option>
                                                <option value="platelets" disabled>Platelets</option>
                                            </select>
                                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                        anyone else.</small> -->
                                        </div>
                                        <div class="form-group my-2 ml-3 d-none">
                                            <label class="col-form-label-lg mb-0 pb-0" for="testUnit">Test Unit</label>
                                            <div class="form-control-sm custom-radio ml-3" id="testUnit">
                                                <input class="custom-control-input" type="radio" name="testUnit"
                                                    id="siUnit" value="si" checked>
                                                <label class="custom-control-label" for="siUnit" id="siUnitLabel">
                                                    SI unit
                                                </label>
                                                <input type="hidden" id="token" value="<%= token %>" hidden>
                                            </div>
                                            <div class="form-control-sm custom-radio ml-3" id="testUnit">
                                                <input class="custom-control-input" type="radio" name="testUnit"
                                                    id="conventional" value="conventional" disabled>
                                                <label class="custom-control-label" for="conventional" id="conventionalLabel">
                                                    Conventional
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group my-1 ml-3">
                                            <label class="col-form-label-lg" for="ageGroup">Age Group</label>
                                            <select name="ageGroup" id="ageGroup" class="form-control custom-select-sm"
                                                required disabled>
                                                <option value=""></option>
                                                <option value="pediatric">Pediatrics</option>
                                                <option value="adult">Adults</option>
                                                <option value="geriatric">Geriatrics</option>
                                            </select>
                                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                        anyone else.</small> -->
                                        </div>

                                        <div class="form-group my-2 ml-3">
                                            <label class="col-form-label-lg" for="country">Country</label>
                                            <select name="country" id="country" class="form-control select2-base"
                                                required disabled>
                                                <option value="" selected></option>
                                                <%- include('templates/africanCountries') %>
                                            </select>
                                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                        anyone else.</small> -->
                                        </div>



                                        <div class="form-group my-2 ml-3">
                                            <div class="form-control-sm custom-checkbox ml-3">
                                                <input class="custom-control-input" type="checkbox" name="onlyAnalyser"
                                                    id="onlyAnalyser" value="yes" disabled>
                                                <label class="form-control-sm custom-control-label py-0" for="onlyAnalyser" id="onlyAnalyserLabel">
                                                    By Analyser Only
                                                </label>
                                            </div>
                                        </div>





                                        <div class="form-group my-2 ml-3">
                                            <select name="analysers" id="analysers" class="form-control custom-select-sm"
                                                disabled required>
                                                <option value="sf">---</option>
                                                
                                            </select>
                                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                        anyone else.</small> -->
                                        </div>

                                        <div class="text-right">
                                            <input type="submit" class="btn btn-outline-primary shadow mx-2"
                                                id="submitBtn" value="Submit">
                                        </div>
                                    </form>
                                </div>






                                <div class="col-12 col-md-9 pt-3 pt-md-0 rip-border-left">
                                    <div class="w-100 bg-info text-center text-uppercase text-light mb-4">
                                        <h6 class="p-3 font-weight-bold text-capitalize">
                                            Reference Interval Tables - 
                                            <span id="displayTestName"></span>
                                        </h6>
                                    </div>

                                    <div id="placeholder" class="h-75 my-auto text-center" style="display: block;">
                                        <div class="h-25 my-5">&nbsp;</div>
                                        <div class="h-25  h3">Please Select Search Options</div>
                                        <div class="h-25 my-5">&nbsp;</div>
                                    </div>


                                    <div id="resultTables" style="display: none;">
                                        <!-- <div id="displayTestName" class="h5 text-center font-weight-bold">Hemoglobin (g/dL)</div> -->

                                        <div class="h5 font-weight-bold">Male Reference Intervals</div>
                                        <table id="maleRI" class="table table-responsive-lg border shadow">
                                            <thead class="bg-light">
                                                <tr>
                                                    <th>Age</th>
                                                    <th>Lower Reference Limit</th>
                                                    <th>Upper Reference Limit</th>
                                                    <th>Analyzer</th>
                                                    <th>Sample Size</th>
                                                    <th>Country</th>
                                                    <th>Link to Publication</th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>3 - 6 years</td>
                                                    <td>9.3</td>
                                                    <td>12.8</td>
                                                    <!-- <td></td> -->
                                                    <td>500 </td>
                                                    <td>Schmidt et al., 2018 (South Africa)</td>
                                                    <td><a href="https://doi.org/10.1111/tmi.13009">
                                                            https://doi.org/10.1111/tmi.13009
                                                        </a></td>
                                                </tr>
                                                <tr>
                                                    <td>16 - 17 years </td>
                                                    <td>11.1</td>
                                                    <td>16.7</td>
                                                    <!-- <td></td> -->
                                                    <td>500</td>
                                                    <td>Odhiambo et al., 2015 (Kenya)</td>
                                                    <td><a href="https://doi.org/10.1371/journal.pone.0123140">
                                                            https://doi.org/10.1371/journal.pone.0123140
                                                        </a></td>
                                                </tr>
                                            </tbody>
                                            <!-- <tfoot>
                                        <th>Age</th>
                                        <th>Lower Reference Limit</th>
                                        <th>Upper Reference Limit</th>
                                        <th>Analyser</th>
                                        <th>Sample Size</th>
                                        <th>Country</th>
                                        <th>Link to Publication</th>
                                    </tfoot> -->
                                        </table>



                                        <hr class="mt-3">


                                        <div class="h5 font-weight-bold my-3">Female Reference Intervals</div>
                                        <table id="femaleRI" class="table table-responsive-lg border shadow">
                                            <thead class="bg-light">
                                                <tr>
                                                    <th>Age</th>
                                                    <th>Lower Reference Limit</th>
                                                    <th>Upper Reference Limit</th>
                                                    <th>Analyser</th>
                                                    <th>Sample Size</th>
                                                    <th>Country</th>
                                                    <th>Link to Publication</th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>3 - 6 months</td>
                                                    <td>9.3</td>
                                                    <td>12.8</td>
                                                    <!-- <td></td> -->
                                                    <td>218 </td>
                                                    <td>Schmidt et al., 2018 (South Africa)</td>
                                                    <td><a href="https://doi.org/10.1111/tmi.13009" target="_blank" rel="noreferrer noopener">
                                                            https://doi.org/10.1111/tmi.13009
                                                        </a></td>
                                                </tr>
                                                <tr>
                                                    <td>16 - 17 </td>
                                                    <td>11.1</td>
                                                    <td>16.7</td>
                                                    <!-- <td></td> -->
                                                    <td>132</td>
                                                    <td>Odhiambo et al., 2015 (Kenya)</td>
                                                    <td><a href="https://doi.org/10.1371/journal.pone.0123140" target="_blank" rel="noreferrer noopener">
                                                            https://doi.org/10.1371/journal.pone.0123140
                                                        </a></td>
                                                </tr>
                                            </tbody>
                                            <!-- <tfoot>
                                        <th>Age</th>
                                        <th>Lower Reference Limit</th>
                                        <th>Upper Reference Limit</th>
                                        <th>Analyser</th>
                                        <th>Sample Size</th>
                                        <th>Country</th>
                                        <th>Link to Publication</th>
                                    </tfoot> -->
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <%- include('templates/footer') %>
        <script type="text/javascript"  src="/js/select2.min.js"></script>
        <script type="text/javascript"  src="/js/datatables.min.js"></script>
        <script type="text/javascript"  src="/js/searchPage.js"></script>

        </html>